/* Aplica a todo el documento */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

/* El contenedor principal ocupa todo el espacio disponible */
.contenido-principal {
  flex: 1;
}
