body {
  background-color: #ffffff;
  font-family: Arial, sans-serif;
}

.titulo-principal {
  font-weight: bold;
  text-transform: uppercase;
}

.menu-lesiones button {
  font-weight: bold;
  border: 2px solid #000;
}

.info-box {
  background-color: #cfcfcf;
  border: 3px solid black;
  border-radius: 5px;
  min-height: 400px;
}
